<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  
</div>
<div class="container">
  <nav [ngClass]="'menu'">
    <a routerLink="/" routerLinkActive="active-link">Home</a> |
    <a routerLink="test" routerLinkActive="active-link">test</a> |
    <a routerLink="test2" routerLinkActive="active-link">test2</a> |
    <a routerLink="/steps" routerLinkActive="active-link">steps</a>|
    <a routerLink="/boot" routerLinkActive="active-link">Form</a>|
    <a routerLink="/books" routerLinkActive="active-link">Books</a>
  </nav>
  <br />
</div>

<router-outlet></router-outlet>

